.work-page {
    display: flex;
    margin: 0 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .text-zone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    
        h1 {
          padding-top: 0.8em;
          font-weight: 400;
        }
    
        p {
          text-align: center;
          color: #023047;
          font-size: 13px;
          font-family: sans-serif;
          letter-spacing: 3px;
          animation: fadeIn 1s 1.8s backwards;
        }
      }
      .icons-work{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 2em;
          margin-top: 3em;
          animation: fadeIn 1.5s 2s backwards;

          .projects{
              font-size: 5em;
          }
      }
}